@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* general page style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background-image: url('../image/pexels-ylanite-koppens-697662\-medium.jpg');
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    }    

/*---game heading---*/

.heading {
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    line-height: 3rem;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

/*---Game introduction and next level/ game over test area---*/

.game-introduction, #next-div, #end-div {
    width: 60vw;
    max-width: 580px;
    height: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;      
}

.game-introduction> h2, p, .username {
    text-align: center;
    margin: 20px 0 0;
}

h2 {
    font-family: 'Aclonica', sans-serif;
}

p, li {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    list-style-type: none;
}

.fa-solid {
    margin-right: 10px;
}

/*---game area---*/

.game-area {
    width: 80vw;
    max-width: 1300px;
    height: auto;
    min-height: 50vh;
    padding: 10px 40px 40px;
    margin: 2% auto;
    border-radius: 10%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.7);
    background-color: #eedcc5;
}

.score {
    width: 40%;
    margin: 5px auto 15px;
    text-align: center;
}

.flag {
    display: flex;
    justify-content: center;
}

img {
    max-width: 60vw;
    width: 500px;
    height: 280px; 
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);   
}

.counting-elm {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    margin: 5px auto;
    text-align: center;
    line-height: 2rem;
}

.flex {
    margin: 0 2vw;
}

/*---highscore list---*/
.highscore {
    width: fit-content;
    text-align: left;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.7);
    background-color: #eedcc5;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

td, th {
    padding: 5px;
}

.highscore-row {
    background: whitesmoke;
}

/*---Specific quiz area style---*/
.answer-btns {
    width: 60%;
    margin: auto;
    text-align: center;
}

.answer-btn {
    width: 9rem;
    height: 2rem;
    margin-top: 5%;
    margin: 2vh 5vw;
    cursor: pointer;
    background-color: whitesmoke;
    border-color: #d6d6e7;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
}

.answer-btn:hover{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

.event-btn {
    width: 60%;
    margin: auto;
    text-align: center;
    /*Grid code from Stack Overflow. See code in README.md Credit section.*/
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
}

.btn-stack {
    width: 8rem;
    height: 3rem;
    margin-top: 5%;
    border-radius: 25px;
    border-color: #d6d6e7;
    cursor: pointer;
    grid-area: inner-div;  
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/*---Specific next level area style*/
#next-div, #end-div > h2 {
    text-align: center;
}

.smaller {
    font-size: smaller;
}

/*----submit to highscore list----*/

#submit-btn {
    width: 5rem;
    border-radius: 25px;
    border-color: #d6d6e7;
    cursor: pointer;
    grid-area: inner-div;  
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/*---Stack divs --- Grid code from Stack Overflow. See code in README.md Credit section.*/
.container {
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
}

.div-stack {
    grid-area: inner-div;  
}

/*Hidden stack elements depending on game play*/

.stack {
    display: none;
}

/*Disabled buttons after answering a question*/
.disable {
    pointer-events: none;
}

/* Media queries*/

@media screen and (max-width: 1200px) {
    body {
        background-image: url('../image/pexels-ylanite-koppens-697662\-small.jpg');
    }

    h1 {
        font-size: 25px;
        padding: 0;
    }

    h2 {
        font-size: 18px;
    }
    
    p, li, #label, #submit-btn {
        font-size: 13px;
        line-height: unset;
        letter-spacing: unset; 
    }

    .game-area {
        padding: 10px;
    }

    img {
        max-width: 250px;
        max-height: 140px;
    }

    .answer-btn {
        width: 7rem;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .highscore {
        font-size: 13px;
    }
}

@media screen and (max-width: 400px) {
    p, li, #label, #submit-btn {
        font-size: 11px;
        margin: 0;
    }

    img {
        width: 195px;
        height: 95px;
    }

    .answer-btn {
        width: 6rem;
        font-size: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-stack {
        width: 6rem;
        height: 2rem;
        font-size: 10px;        
    }
}
