@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* general page style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background-image: url('../image/pexels-ylanite-koppens-697662-medium.jpg');
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    }    

/*game heading*/

.heading {
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    line-height: 3rem;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

/*Game introduction and next level/game over text area*/

.game-introduction, #next-div, #end-div {
    width: 60vw;
    max-width: 700px;
    height: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;      
}

h2 {
    font-family: 'Aclonica', sans-serif;
}

p, li {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    list-style-type: none;
}

.fa-solid {
    margin-right: 10px;
}

/*Style for game introduction and username input text*/
.game-introduction> h2, p, .username {
    text-align: center;
    margin: 20px 0 0;
}

/*Specific next level and game over style*/
#next-div, #end-div > h2 {
    text-align: center;
}

.smaller {
    font-size: smaller;
}

/*Style for game area*/

.game-area {
    width: 80vw;
    max-width: 1300px;
    height: auto;
    min-height: 50vh;
    padding: 10px 40px 40px;
    margin: 5% auto;
    border-radius: 10%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.7);
    background-color: #eedcc5;
}

.score {
    width: 40%;
    margin: 5px auto 15px;
    text-align: center;
}

.flag {
    display: flex;
    justify-content: center;
}

img {
    max-width: 60vw;
    width: 500px;
    height: 300px; 
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);   
}

.counting-elm {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    margin: 5px auto;
    text-align: center;
    line-height: 2rem;
}

.flex {
    margin: 0 2vw;
}

/*Specific quiz area style*/
.answer-btns {
    width: 60%;
    margin: auto;
    text-align: center;
}

.answer-btn {
    width: 9rem;
    height: 3rem;
    margin-top: 5%;
    margin: 2vh 4vw;
    cursor: pointer;
    background-color: whitesmoke;
    border-color: #d6d6e7;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
}

.answer-btn:hover{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

.event-btn {
    width: 60%;
    margin: auto;
    text-align: center;
    /*Grid code from Stack Overflow. See code in README.md Credit section.*/
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
}

.btn-stack {
    width: 8rem;
    height: 3rem;
    margin: 10px;
    border-radius: 25px;
    border-color: #d6d6e7;
    cursor: pointer;
    grid-area: inner-div;  
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/*Style for submit button*/

#submit-btn {
    width: 5rem;
    border-radius: 25px;
    border-color: #d6d6e7;
    cursor: pointer;
    grid-area: inner-div;  
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/*Stacked divs --- Grid code from Stack Overflow. See code in README.md Credit section.*/
.container {
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
}

.div-stack {
    grid-area: inner-div;  
}

/*Hidden stack elements depending on game play*/
.stack {
    display: none;
}

/*Disabled buttons after answering a question*/
.disable {
    pointer-events: none;
}

/*Style for highscore list*/
table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

td, th {
    padding: 15px;
}

.highscore-row {
    background: #fefefe;
}

.highscore-heading {
    background: #e5e5e5;
}


/*Highscore modal sytle - Code credit: W3School, see README.md */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.85); 
}

.modal-content {
    background-color: #eedcc5;
    margin: 10% auto;
    padding: 10px 50px 50px;
    border-radius: 10%;
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);   
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* Media queries*/

@media screen and (max-width: 1300px) {
    body {
        background-image: url('../image/pexels-ylanite-koppens-697662-small.jpg');
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 25px;
        padding: 0;
    }

    h2 {
        font-size: 18px;
    }

    p, li, #label, #submit-btn {
        font-size: 15px;
        margin: 5px;
        line-height: unset;
        letter-spacing: unset; 
    }

    .game-introduction, #next-div, #end-div {
        width: 80vw;
    }

    .game-area {
        width: 90vw;
        padding: 10px;
    }

    img {
        max-width: unset;
        width: 250px;
        height: 150px;
    }

    .answer-btn {
        margin: auto;
        margin: 5px;
    }

    td, th {
        padding: 5px;
    }

    .modal-content {
        padding: 0 40px 40px;
    }
}

@media screen and (max-width: 370px) {
    body {
        background-image: unset;
    }

    .game-area {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        border-radius: unset;
        box-shadow: unset;
    }

    h1 {
        font-size: 20px;
    }

    p, li, #label, #submit-btn {
        font-size: 13px;
    }

    .answer-btn {
        width: 7rem;
    }
}