body {
    background-image: url('../image/pexels-ylanite-koppens-697662\-medium.jpg');
    }

.heading {
    text-align: center;
    line-height: 50px;
}

h1 > a {
    text-decoration: none;
    color: whitesmoke;
}

/*---Global style to game area---*/

.game-area {
    width: 80vw;
    max-width: 1300px;
    height: 60vh;
    margin: 0 auto;
    background-color: whitesmoke;
}

.score {
    width: 40%;
    line-height: 50px;
    margin: auto;
    text-align: center;
}

.flag {
    display: flex;
    justify-content: center;
}
img {
    width: 60vw;
    max-width: 580px;
    height: auto;    
}

.timer {
    width: 40%;
    line-height: 50px;
    margin: auto;
    text-align: center;
}

/*---Specific start game area style---*/

.game-introduction {
    width: 60vw;
    max-width: 580px;
    height: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;      
}

.game-introduction > h2, p, .username {
    text-align: center;
}



/*---Specific quiz area style---*/
.answer-btns {
    width: 60%;
    margin: auto;
    text-align: center;
}

.btn-a-b, .btn-c-d {
    display: flex;
    justify-content: space-around;
}

.answer-btn {
    width: 7rem;
    height: 2rem;
    margin-top: 5%;
}

.event-btn {
    width: 60%;
    margin: auto;
    text-align: center;
}

.btn-stack {
    width: 7rem;
    height: 2rem;
    margin-top: 5%;  
}

/*Hidden functions by default at start and end of game*/
.hidden {
    color: transparent;
}

/* Media queries*/